In [1]:
println("Hello, world!")

Hello, world!

In [8]:
val x: Int = 10
val y: Int = 20
x + y

In [7]:
def fun() {
    println("This is a function")
}
fun()

In [30]:
def getInfoFromBackend() : List[Any] = {
    val dataList = List(1,"Literature",2,"Science")
    dataList
}
println(getInfoFromBackend()(1))

In [10]:
case class Payment(label: String, year: Int, obols: Int)
val record = Payment("Pharbelios", 1, 100)

In [39]:
record.obols

100

When you want to create a RDD from existing storage in driver program (which we would like to be parallelized). For example, converting an array to RDD, which is already created in a driver program.

In [36]:
val data = 1 to 10
val distData = sc.parallelize(data)

In the above program, I first created an array for 10 elements and then I created a distributed data called RDD from that array using “parallelize” method. SparkContext has a parallelize method, which is used for creating the Spark RDD from an iterable already present in driver program.

To see the content of any RDD we can use “collect” method. Let’s see the content of distData.

In [5]:
distData.collect()

Array(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**Now let’s see all lines in it.**

In [100]:
// The code was removed by DSX for sharing.

Array([I love solving data mining problems.], [I don't like solving data mining problems.], [I love solving data science problems.], [I don't like solving data science problems.])

A map transformation is useful when we need to transform a RDD by applying a function to each element. So how can we use map transformation on ‘rdd’ in our case?
Let’s calculate the length (number of characters) of each line in “text.txt”

In [132]:
val Lenght1 = lines.map(s => s(0).toString.length)
Lenght1.collect()

Array(36, 42, 37, 43)

In [139]:
val palabras = lines.flatMap( s => s(0).toString.split(" ")).map( w => (w,1)).reduceByKey(_ + _)
palabras.take(100)
palabras.filter(_._2.toInt > 2).take(199)

Array((solving,4), (I,4), (problems.,4), (data,4))

In [138]:
palabras.filter(s => s._2 > 2).take(100)

Array((solving,4), (I,4), (problems.,4), (data,4))

In [51]:
val dfData1 = spark.
    read.format("org.apache.spark.sql.execution.datasources.csv.CSVFileFormat").
    option("header", "false").
    option("inferSchema", "true").
    load(cos.url("testbef2efc72e4f470d9a548eff336bbc99", "text.csv"))
dfData1.show(5)

+--------------------+
|                 _c0|
+--------------------+
|I love solving da...|
|I don't like solv...|
|I love solving da...|
|I don't like solv...|
+--------------------+

In [69]:
// Create the case classes for our domain
case class Department(id: String, name: String)
case class Employee(firstName: String, lastName: String, email: String, salary: Int)
case class DepartmentWithEmployees(department: Department, employees: Seq[Employee])

// Create the Departments
val department1 = new Department("123456", "Computer Science")
val department2 = new Department("789012", "Mechanical Engineering")
val department3 = new Department("345678", "Theater and Drama")
val department4 = new Department("901234", "Indoor Recreation")

// Create the Employees
val employee1 = new Employee("michael", "armbrust", "no-reply@berkeley.edu", 100000)
val employee2 = new Employee("xiangrui", "meng", "no-reply@stanford.edu", 120000)
val employee3 = new Employee("matei", null, "no-reply@waterloo.edu", 140000)
val employee4 = new Employee(null, "wendell", "no-reply@princeton.edu", 160000)

// Create the DepartmentWithEmployees instances from Departments and Employees
val departmentWithEmployees1 = new DepartmentWithEmployees(department1, Seq(employee1, employee2))
val departmentWithEmployees2 = new DepartmentWithEmployees(department2, Seq(employee3, employee4))
val departmentWithEmployees3 = new DepartmentWithEmployees(department3, Seq(employee1, employee4))
val departmentWithEmployees4 = new DepartmentWithEmployees(department4, Seq(employee2, employee3))

In [83]:
// Create the first DataFrame from a List of the Case Classes.
val departmentsWithEmployeesSeq1 = Seq(departmentWithEmployees1, departmentWithEmployees2)
val df1 = departmentsWithEmployeesSeq1.toDF()
df1.show(false)

+-------------------------------+-----------------------------------------------------------------------------------------------+
|department                     |employees                                                                                      |
+-------------------------------+-----------------------------------------------------------------------------------------------+
|[123456,Computer Science]      |[[michael,armbrust,no-reply@berkeley.edu,100000], [xiangrui,meng,no-reply@stanford.edu,120000]]|
|[789012,Mechanical Engineering]|[[matei,null,no-reply@waterloo.edu,140000], [null,wendell,no-reply@princeton.edu,160000]]      |
+-------------------------------+-----------------------------------------------------------------------------------------------+

In [70]:
// Create a 2nd DataFrame from a List of Case Classes.
val departmentsWithEmployeesSeq2 = Seq(departmentWithEmployees3, departmentWithEmployees4)
val df2 = departmentsWithEmployeesSeq2.toDF()
df2.show(false)

+--------------------------+-----------------------------------------------------------------------------------------------+
|department                |employees                                                                                      |
+--------------------------+-----------------------------------------------------------------------------------------------+
|[345678,Theater and Drama]|[[michael,armbrust,no-reply@berkeley.edu,100000], [null,wendell,no-reply@princeton.edu,160000]]|
|[901234,Indoor Recreation]|[[xiangrui,meng,no-reply@stanford.edu,120000], [matei,null,no-reply@waterloo.edu,140000]]      |
+--------------------------+-----------------------------------------------------------------------------------------------+

**WORKING WITH DATAFRAMES**

In [85]:
// Columns operation
val p = Seq((1,"a"),(2,"b")).toDF("NUM","WORD")
p.withColumn("NUM",$"NUM"+100).show

+---+----+
|NUM|WORD|
+---+----+
|101|   a|
|102|   b|
+---+----+

In [2]:

val dfData2 = spark.
    read.format("org.apache.spark.sql.execution.datasources.csv.CSVFileFormat").
    option("header", "true").
    option("inferSchema", "true").
    load(cos.url("testbef2efc72e4f470d9a548eff336bbc99", "train.csv"))
dfData2.show(5)

[Stage 188:============================>                            (1 + 1) / 2]+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [8]:
println(dfData2.count)
dfData2.printSchema()

550068
root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- Purchase: integer (nullable = true)

In [10]:
dfData2.select("Age").show(10)

+-----+
|  Age|
+-----+
| 0-17|
| 0-17|
| 0-17|
| 0-17|
|  55+|
|26-35|
|46-50|
|46-50|
|46-50|
|26-35|
+-----+
only showing top 10 rows

In [15]:
import org.apache.spark.sql.functions.col

dfData2.filter(dfData2("Purchase") >= 10000).select("Purchase").show(10)
dfData2.filter($"Purchase" >= 10000).select($"Purchase").show(10)
dfData2.filter(col("Purchase") >= 10000).select(col("Purchase")).show(10)

+--------+
|Purchase|
+--------+
|   15200|
|   15227|
|   19215|
|   15854|
|   15686|
|   15665|
|   13055|
|   11788|
|   19614|
|   11927|
+--------+
only showing top 10 rows

+--------+
|Purchase|
+--------+
|   15200|
|   15227|
|   19215|
|   15854|
|   15686|
|   15665|
|   13055|
|   11788|
|   19614|
|   11927|
+--------+
only showing top 10 rows

+--------+
|Purchase|
+--------+
|   15200|
|   15227|
|   19215|
|   15854|
|   15686|
|   15665|
|   13055|
|   11788|
|   19614|
|   11927|
+--------+
only showing top 10 rows

### Apply SQL queries on DataFrame
To apply queries on DataFrame You need to register DataFrame(df) as table. Let’s first register df as temporary table called (B_friday).

In [18]:
val sqlContext = spark.sqlContext

dfData2.registerTempTable("B_friday")
sqlContext.sql("select Age from B_friday").show(5)

+----+
| Age|
+----+
|0-17|
|0-17|
|0-17|
|0-17|
| 55+|
+----+
only showing top 5 rows

### Building a machine learning model
If you have come this far, you are in for a treat! I’ll complete this tutorial by building a machine learning model.

I will use only three dependent features and the independent variable in df1. Let’s create a DataFrame df1 which has only 4 columns (3 dependent and 1 target).

In [19]:
val df1 = dfData2.select("User_ID","Occupation","Marital_Status","Purchase")

In above DataFrame df1 “User_ID”,”Occupation” and “Marital_Status” are features and “Purchase” is target column.

Let’s try to create a formula for Machine learning model like we do in R. First, we need to import RFormula. Then we need to specify the dependent and independent column inside this formula. We also have to specify the names for features column and label column.

In [22]:
import org.apache.spark.ml.feature.RFormula
val formula = new RFormula().setFormula("Purchase ~ User_ID+Occupation+Marital_Status").setFeaturesCol("features").setLabelCol("label")

After creating the formula, we need to fit this formula on df1 and transform df1 through this formula. Let’s fit this formula.

In [29]:
val train = formula.fit(df1).transform(df1)
println(train.getClass)

class org.apache.spark.sql.Dataset

### Applying Linear Regression on train
After applying the RFormula and transforming the DataFrame, we now need to develop the machine learning model on this data. I want to apply a Linear Regression for this task. Let us import a Linear regression and apply on train. Before fitting the model, I am setting the hyperparameters.

In [28]:
import org.apache.spark.ml.regression.LinearRegression
val lr = new LinearRegression().setMaxIter(10).setRegParam(0.3).setElasticNetParam(0.8)
val lrModel = lr.fit(train)

[Stage 219:============================>                            (1 + 1) / 2]

In [27]:
println(s"Coefficients: ${lrModel.coefficients} Intercept: ${lrModel.intercept}")

Coefficients: [0.015092117950462813,16.121177918472583,-10.520581613126115] Intercept: -5999.757125186284